*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f4f4f4;
}
.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.inputfield {
    width: 50%;
    height: 40px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid green;
    border-radius: 5px;
  }

  button {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color:rgb(5, 66, 5);
    color: #fff;
    cursor: pointer;
    margin: 5px;
    transition: 0.8s;
  }
  button:hover {
    border: 2px solid green;
    background-color: white;
    color: green;
  }
  .paragraph{
    color: red;
    margin-top: 15px;
    font-family:Arial, Helvetica, sans-serif;
  }
  .heading{
    color: rgb(5, 66, 5);
    font-weight: bold;
    margin-bottom: 15px;
  }